.footer{
  background-color: #ece4fc;
  font-family: 'montserrat';
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
  
}

.footer ul{
    list-style: none;
    padding: 0px;
    text-align: left;
}

.rss{
  margin-bottom: 15px;
  
  
}

.espacioIcons{
  margin-right: 45px;
  
  
}

.titleLogo{
  font-family: 'syncopate';
  font-weight: 700; 
  margin-top: 30px;

}

